/* Fonts API */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');


/* Define color variables for the "Scottish Loch  theme */
:root {
    /*Deep charcoal */
    --bg-dark: #1E2426;

    /*Soft Ivory*/
    --text-light: #f0f0e6;

    /* Muted Teal */
    --accent-teal: #4A7C7D;

    /* Cool Grey */
    --highlight-grey: #A0A6A8;

    /* Use Soft Ivory also for light sections */
    --bg-light: #F0F0E6;

    /* Use Deep Charcoal for text on light backgrounds */
    --text-dark: #1E2426;
}

/* Mobile first design */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* Main background is now dark */
    /* background-color: var(--bg-dark); */
    /* Default text is color light */
    color: var(--text-light);
    font-family: 'Montserrat', 'sans serif';
    line-height: 1.6;
    font-size: 16px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0.2rem 0.5rem;
    background-color: var(--bg-dark);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 1000;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.logo {
    max-height: 100%;
    width: auto;
    object-fit: contain;
    filter: brightness(0) invert(1);
}

.logo-link {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 10px 0;
}

/*Open and close menu buttons*/
.open-menu,
.close-menu {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.icon-open-menu {
    width: 65px;
    height: auto;
    display: block;
    transition: transform 0.2s ease-out, opacity 0.2s ease-out;
    filter: invert(1) brightness(1.5);
}

.icon-close-menu {
    width: 50px;
    height: auto;
    display: block;
    transition: transform 0.2s ease-out, opacity 0.2s ease-out;
    filter: invert(1) brightness(1.5);
}

.open-menu.is-clicked .icon-open-menu,
.close-menu.is-clicked .icon-close-menu {
    transform: scale(0.6) rotate(30deg);
    opacity: 0.5;
}



/* Navigation styles for MOBILE*/
.nav {
    /*Postioning off-screen for mobile*/
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;

    /* Appearance */
    background-color: var(--bg-dark);
    padding: 2rem;
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.2);

    /*Flexbox to align items*/
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 2rem;

    /*Hide and animation*/
    opacity: 0;
    visibility: hidden;
    transform: translateX(100%);
    transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out, visibility 0.4s;
}

.nav.visible {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
    /*Bring back to original position*/
}


/*Menu List*/
.nav-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1.5rem;
}

.nav-list li a {
    color: var(--text-light);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-list li a:hover {
    color: var(--accent-teal);
}

.parallax-container {
    background-image: linear-gradient(rgba(30, 36, 38, 0.2), rgba(30, 36, 38, 0.5)), url("/media/pic8.jpg");
    height: 80vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: -1;
}

.parallax-content {
    background: rgba(0, 0, 0, 0.4);
    color: var(--text-light);
    padding: 2rem;
    border-radius: 50px;
    text-align: center;
    width: 90%;
    max-width: 500px;
    box-sizing: border-box;
}


.parallax-subtitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    color: var(--highlight-grey);
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 2rem;
    padding-left: 1px;

}


.parallax-logo {
    max-width: 300px;
    width: 100%;
    filter: invert(1) brightness(2);
}


.about-me-home {
    padding: 3rem 1.5rem;
    background-color: #ffffff;
    text-align: center;
}

.about-me-home,
.home-cta-section {
    background-color: var(--bg-light);
    color: var(--text-dark);
    padding: 4rem 1.5rem;
    text-align: center;
}

.about-me-content {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.about-me-image img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    /* Ensure the image covers the area */
    border-radius: 50%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    border: 4px solid #ffffff;
}

.about-me-text {
    text-align: center;
}

.about-me-text h2,
.cta-item h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: var(--text-dark);
}

.about-me-text p,
.cta-item p {
    font-size: 0.8rem;
    color: var(--text-dark);
    line-height: 1.6;
    max-width: 600px;
    margin-bottom: 1.5rem;
}

.cta-button {
    border: 2px solid transparent;
    display: inline-block;
    padding: 0.75rem 1.5rem;
    background-color: var(--accent-teal);
    color: #ffffff;
    text-decoration: none;
    border-radius: 50px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.cta-button:hover {
    background-color: transparent;
    border-color: var(--accent-teal);
    transform: translateY(-2px);
    color: var(--accent-teal);
}

.home-cta-section {
    background-image: linear-gradient(rgba(30, 36, 38, 0.1), rgba(30, 36, 38, 0.2)), url("/media/images/nature/wide-images/11photo-nature.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 5rem 1.5rem;
    text-align: center;
}

.cta-item {
    background-color: #ffffff;
    color: var(--text-dark);
    padding: 2.5rem;
    border-radius: 10px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 0 auto;

    position: relative;
    z-index: 3;
}

.cta-item h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #121212;
}

.cta-item p {
    font-size: 1rem;
    color: #555;
    line-height: 1.6;
}

.cta-button-secondary {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: transparent;
    color: var(--accent-teal);
    text-decoration: none;
    border-radius: 50px;
    border: 2px solid var(--accent-teal);
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.cta-button-secondary:hover {
    background-color: var(--accent-teal);
    color: #ffffff;
}



footer {
    background-color: var(--bg-dark);
    color: var(--highlight-grey);
    text-align: center;
    padding: 2rem 1rem;
}

.footer-logo {
    max-width: 200px;
    margin-bottom: 1.5rem;
    filter: invert(1) brightness(1.5);
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
}

.social-links a {
    color: #a0a0a0;
    /* Initial color */
    font-size: 1.5rem;
    transition: color 0.3s ease, transform 0.3s ease;
}

.social-links svg {
    width: 30px;
    height: 30px;
    fill: var(--highlight-grey);
    transition: fill 0.3s ease, transform 0.3s ease;
}

.social-links a:hover svg {
    fill: var(--accent-teal);
    transform: scale(1.15);
}

.footer-info {
    font-size: 0.9rem;
    line-height: 1.5;
}


#clock {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    color: var(--highlight-grey);
    letter-spacing: 2px;
    margin: 1.5rem 0;
}

/* Media query for tablet devices (min-width: 767px) */
@media only screen and (min-width: 767px) {

    /*Hide mobile menu button on tablets and larger screens*/
    .open-menu,
    .close-menu {
        display: none;
    }

    .nav {
        position: static;
        /*Back to normal flow*/
        opacity: 1;
        visibility: visible;
        transform: none;
        /*Reset transform*/
        background-color: transparent;
        padding: 0;
        box-shadow: none;
        height: auto;
    }

    .nav-list {
        flex-direction: row;
        align-items: center;
        gap: 2rem;
    }

    .nav-list a:hover {
        color: #007BFF;
    }

    .about-me-content {
        flex-direction: row;
        /* Columnas lado a lado */
        text-align: left;
        /* Texto alineado a la izquierda */
    }

    .about-me-image {
        flex-basis: 30%;
        /* La imagen ocupa un 30% del espacio */
        flex-shrink: 0;
    }

    .about-me-image img {
        width: 250px;
        /* Imagen un poco más grande */
        height: 250px;
    }

    .about-me-text {
        flex-basis: 70%;
        /* El texto ocupa el 70% restante */
    }

    .home-cta-section {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        /* Vertically align cards if they have different heights */
        /* max-width: 1100px; */
        /* margin: 0 auto; */
        /* Center the whole section's content area */
    }

    .cta-item {
        flex: 1;
        /* Cada item ocupa el mismo espacio */
    }

}

/* Media query for desktop devices (min-width: 991px) */
@media only screen and (min-width: 991px) {

    /*Hide menu button on tablets and larger screens*/
    .open-menu,
    .close-menu {
        display: none;
    }

    .nav {
        position: static;
        /*Back to normal flow*/
        opacity: 1;
        visibility: visible;
        transform: none;
        /*Reset transform*/
        background-color: transparent;
        padding: 0;
        box-shadow: none;
        height: auto;
    }

    .nav-list {
        flex-direction: row;
        align-items: center;
        gap: 2rem;
    }

    .nav-list a:hover {
        color: #007BFF;
    }

}